/* google font(poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.first-section {
    margin-bottom: 100px;
}
.second-section {
    margin-bottom: 100px;
}
.third-section {
    margin-bottom: 100px;
}
.asked-title {
    margin-bottom: 130px;
}
.custom-bg-color {
    background: #FFFFFF;
    color: #3F87F5;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 5px;
}
.custom-h2 {
    color:#0A0826;
    font-weight: bold;
}
.custom-p {
    color: #6C6C6C;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.explore-btn {
    background-color: #3F87F5;
    color: #FFFFFF;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
}
.package-color {
    color: #0A0826;;
}
.price-color {
    color: #231D4F;
}
.purple-tick {
    background-color: #E5E5E5;
    color: #5243C2;
    border-radius: 50%;
    padding: 2px 2px;
    margin-right: 5px;
}
.white-tick {
    background: rgba(211, 211, 211, 0.144);
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px 2px;
    margin-right: 5px;
}
.plan-btn {
    background-color: #E5E5E5;
    color: #3F87F5;
    padding: 8px 28px;
    border: none;
    font-weight: bold;
}
.plan-btn-special {
    background-color: #FFFFFF;
    color: #3F87F5;
    padding: 8px 28px;
    border: none;
    font-weight: bold;
}
.special-col {
    background-color: #3F87F5;
    color: #FFFFFF;
    padding: 10px 30px;

}
footer {
    background-color: #0B0D17;
    color: #D9DBE1;
    
}