/* google font(poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.site-name {
   
}
.custom-bg-color {
    background: #FFFFFF;
    color: #3F87F5;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 5px;
}
.custom-h2 {
    color:#0A0826;
    font-weight: bold;
}
.custom-p {
    color: #6C6C6C;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.explore-btn {
    background-color: #3F87F5;
    color: #FFFFFF;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
}
.package-color {
    color: #0A0826;;
}